*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.superior{
  background-image: url(img/fondo-1400x860.jpg);
}
body{
    
    font-family: Arial, Helvetica, sans-serif;
    padding-left: auto;
}
main{
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin-left: 5%;
}	
.columna1, .columna2{
    flex: 1;
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
    padding-top: 8%;
    padding-right: 20%;
}
.columna1{
    justify-content: flex-start;
    width: 50%;
}
.columna2{
    justify-content: flex-end;
    width: 50%;
}
.link_azul{
  color: rgb(24, 81, 193);
}
.recuadro_azul{
  color: white;
  border: none;
  text-align: center;
  background-color: blue;
  padding: 4%;
  width: 30%;
}
.barra {
    background-color: rgba(0, 0, 0, 0.2); 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .logo img{
    height: 40px;
  }
  
  .menu_items {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .menu_items li {
    margin-left: 20px;
  }
  
  .menu_items a {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
  
  .menu_items a:hover {
    text-decoration: underline;
  }
  .logo_peque{
    width: 40px; 
    height: 40px;
    margin-right: 10px; 
    vertical-align: middle; 
  }
  footer {
    background-color: rgb(25, 24, 24);
    color: white;
  }
  
  .sub_barra {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    border-bottom: 1px solid white;
  }
  
  .column {
    flex: 1;
    text-align: center;
    padding: 5px 0;
  }
  
  .barra_inferior {

    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(25, 24, 24);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
  }
  
  .columna {
    display: flex;
    align-items: center;
    margin: 0 10px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;
  }
  
  .logo {
    width: 24px; 
    height: 24px;
    margin-right: 5px;
  }
  
  .texto {
    color: white;
    font-size: 14px; 
  }
  .amarillo{
    color: gold;
  }
  
  