header {
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.no_blur{
    filter: none;
}

section {
    background-image: url(imagenes/Fondo.jpg);
}

img {
    width: 33%;
    height: auto;
    filter: blur(4px);
}
video{
    width: 33%;
    height: auto;
    filter: blur(4px);
}

a:hover img {
    filter: blur(0);
}
a:hover video {
    filter: blur(0);
}
.logo{
    padding-bottom: 5%;
}